.platoname{
    color: black;
    margin-top: 0.5rem;
    margin-bottom: -4px;
}
#fav{
    margin-left: 80%;
}
.fondocard{
    background-color: rgb(122, 119, 119);
    margin-top: 1rem;
    
}

.margentitulo{
    margin-bottom: 2rem;
}

.titlebut{
    margin-bottom: 1rem
}


#pruebaimg{
    size: 100px
}
