.plato{
    margin-bottom: 3rem;
    margin-top: 5rem;
}
#fav{
    margin-left: 80%;
}
.fondocard{
    background-color: rgb(231, 224, 224);
    margin-top: 1rem;
    
}

.prueba{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.pruebatitulo{
    margin-bottom: 2rem;
}


.prueba0{
    margin-bottom: 2rem;
    margin-top: 2rem;
}
#pruebafondo{
    background-color:rgb(231, 224, 224)
}
#pruebaimg{
    size: 100px
}
.posicion_boton {
  position: relative;
  left: 115px;
}
#posicion_nombre_plato {
    padding: 1rem;
}
