
.styleimg{
    //background-color: white;
    padding: unset

}
.stylecard{
    background-color: white;
    padding: unset

}
.imagen{
    max-width: 0;
    padding-top: 0.3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
	widows: 600px;

}
.dishcard{
    margin: 1rem;
    
}