
.styleimg{
    //background-color: white;
    padding: unset

}
.stylecard{
    background-color: white;
    padding: unset

}
.imagen{
    max-width: 0;
    padding-top: 0.3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
	widows: 600px;

}
.imagina {
    max-width: 100%;
    /* height: auto; */
}
.dishcard{
    margin-bottom: 1rem;
    
}
.dishcard2{
    margin-bottom: 7rem;
    
}
.btn-success {
    color: #fff;
    background-color: #00c851 !important;
    padding: 0.7rem;
}