.footer{
    background-color: #003300
}

.container{
    text-align: left;
}

h3{
    text-align: center;
    color: #FFFFFF
}

#colorp{
    color: #FFFFFF  
}

.containerHeight{
    height: 12rem;
}