.footer{
    background-color: rgb(33, 82, 14)
}

.container{
    text-align: left;
}

h3{
    text-align: center;
    color: #FFFFFF
}

#colorp{
    color: #FFFFFF  
}

.containerHeight{
    height: 8rem;
}