
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@500&display=swap");

.base {
    background-color: rgb(235, 252, 199);
    font-family: 'Frank Ruhl Libre', serif;
    margin-bottom: 0px;
}
.fontcolor{
    color: white
    
}
.errorcolor{
    color:red
}

