
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.base {
    background-color: rgb(247, 247, 126);
    font-family: 'Bangers', cursive;

}
.border {
    border: 0 !important;
    padding: unset;
}