body{
    background: white;
    
}

.align-self-center{
    width: 340px;
    
    margin: 50px auto;
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.form-group{
    width: 18rem;
    margin: 2rem;
    border: 0px;
} 

.forgot{
    color: grey;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    font-size: 1rem;
 
}
.lettersize{
    font-size: 1rem;
}

.signNowButton{
    background-color: rgb(216, 212, 212);
    margin: 1rem;
    border-radius: 5px;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

#other{
    color: white;
    padding: 10px;

}

