

/*.alinearform{
    text-align: center;
   
}


.cont_width{
    width: 150rem;
   
}



.alignbutton{
    margin-top: 2rem
}

.contButt{
    width:40%
}*/
#jumbobackground{
     background-color: rgb(235, 252, 199);
}
.border {
    border: 0 !important;
    padding: unset;
}

.row {
    margin: unset 
}