

.alinearform{
    text-align: center;
   
}


.cont_width{
    width: 150rem;
   
}

.dishcard{
    margin-top: 2rem;
    margin-left: 1.5rem;
}

.alignbutton{
    margin-top: 2rem
}

.contButt{
    width:40%
}

.botond{
    margin: -1.5rem;
    height: 2.3rem;
    border: 0
}
.botondd{
    margin: 2rem;
    
}